// ----Variables----
$value : 480;
$mobile: $value * 1px;

// Colors
$grey: hsl(211, 10%, 45%);
$pale-grey: hsl(223, 19%, 93%);
$purple: hsl(238, 40%, 52%);
$pale-purple: hsl(239, 57%, 85%);
$red: hsl(358, 79%, 66%);
$pale-red: hsl(357, 100%, 86%);

// ----Mixins----

// Forms
@mixin formUI($mode) {
  @if ($mode == "desktop") {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-top: 1rem;
    &__content {
      resize: none;
      width: 75%;
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
  } @else if ($mode== "mobile") {
    display: grid;
    grid-template-columns: 2rem auto 4rem;
    &__content {
      width: 100%;
      margin-left: 0;
      margin-right: 0;

      grid-row: 1;
      grid-column: 1/6;
    }
  }
}

@mixin vote($mode) {
  display: flex;
  background-color: $pale-grey;
  border-radius: 0.5rem;
  &--score {
    color: $purple;
    font-weight: 700;
    text-align: center;
  }
  &--upvote,
  &--downvote {
    cursor: pointer;
  }
  & > * {
    flex: 1;
  }
  @if ($mode == "desktop") {
    flex-direction: column;
    justify-content: center;

    grid-column: 1;
    grid-row: 1/3;

    padding: 0.75rem;

    height: 4rem;
    width: 0.75rem;
    &--score {
      margin-top: 0.5rem;
      margin-bottom: 0.05rem;
    }
  } @else if ($mode == "mobile") {
    flex-direction: row;
    justify-content: space-evenly;

    grid-column: 1;
    grid-row: 3;

    padding: 1rem 1rem 1.25rem 1rem;

    height: 0.75rem;
    width: 4rem;
    &--score {
      margin-top: 0;
      margin-bottom: 0;
    }
    &--downvote {
      & > img {
        padding-bottom: 0.25rem;
        padding-left: 0.55rem;
      }
    }
  }
}

@mixin delete($mode) {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  &__content {
    border-radius: 0.5rem;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    &--btns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @if ($mode == "desktop") {
    padding-top: 20rem;
    &__content {
      width: 20rem;
    }
  } @else if ($mode == "mobile") {
    padding-top: 14rem;
    &__content {
      width: 18rem;
    }
  }
}

// Components
@mixin button($type) {
  border-radius: 0.5rem;
  color: white;
  font-weight: 700;
  height: 3rem;

  @if $type == "submit" {
    background-color: $purple;
    width: 6rem;
    &:hover {
      background-color: $pale-purple;
    }
  }

  @if $type == "delete" {
    background-color: $red;
    width: 48%;
    &:hover {
      background-color: $pale-red;
    }
  }

  @if $type == "close" {
    background-color: $grey;
    width: 48%;
    &:hover {
      background-color: $pale-grey;
    }
  }
}

@mixin CRUD($mode) {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  flex-wrap: nowrap;

  @if $mode == "reply" or $mode == "edit" {
    & > .comment__CRUD--text {
      color: $purple;
      &:hover {
        color: $pale-purple;
      }
    }
  }

  @if $mode=='delete' {
    margin-left: 1rem;
        & > .comment__CRUD--text {
          color: $red;
          &:hover {
            color: $pale-red;
          }
        }
  }
}
