// ----Variables----

// Colors
$grey: hsl(211, 10%, 45%);
$pale-grey: hsl(223, 19%, 93%);
$purple: hsl(238, 40%, 52%);
$pale-purple: hsl(239, 57%, 85%);
$red: hsl(358, 79%, 66%);
$pale-red: hsl(357, 100%, 86%);

// ----Mixins----
@mixin formUIDesktop() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-top: 1rem;
  &__content {
    resize: none;
    width: 75%;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

@mixin formUIMobile() {
  display: grid;
  grid-template-columns: 2rem auto 4rem;
  &__content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    grid-row: 1;
    grid-column: 1/6;
  }
}

@mixin deleteDesktop() {
  position: fixed;
  z-index: 1;
  padding-top: 20rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  &__content {
    border-radius: 0.5rem;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20rem;
    &--btns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@mixin button($type) {
  border-radius: 0.5rem;
  color: white;
  font-weight: 700;
  height: 3rem;

  @if $type == "submit" {
    background-color: $purple;
    width: 6rem;
    &:hover {
      background-color: $pale-purple;
    }
  }

  @if $type == "delete" {
    background-color: $red;
    width: 48%;
    &:hover {
      background-color: $pale-red;
    }
  }

  @if $type == "close" {
    background-color: $grey;
    width: 48%;
    &:hover {
      background-color: $pale-grey;
    }
  }
}
